.category-introduction{
  width: 100%;
  text-align: center;
  margin-top:3rem;
  color:#991900;
}




/* .table-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

table{
  width:100%;
  color:black;
}

.item-area{
  width:60%;
}

.table-headers{
  color:#ed2700;
  font-size: .7rem;
}

.item-name{
  text-align: left;
  padding-left: 1rem;
  padding-top:.75rem;
}

#chefs-special{
  width:95%;
  margin: 0 auto;
  margin-top:5rem;
  border: 3px solid red;
  border-radius: 3px;
  background-color: #eee;
}

.Chef h2{
  font-family: Lobster;
}

.chef-description{
  padding:0 .4rem 1.5rem .6rem;
  font-size:.8rem;
  font-style: italic;
  text-align: left;
}

#rev-diet{
  padding:0 .4rem 0rem .6rem;
}

.revolution-description{
  font-size: .8rem;
  font-style: italic;
}

.combos h1{
  font-family: Lobster, cursive;
  color: #991900;
  text-align: center;
}

.combos h3{
  color: #991900;
  text-align: center;
}

.combos p{
  width:85%;
  margin: .25rem auto;
}

.id{
  padding-top:.75rem;
  padding-left:.5rem;
}

.size{
  padding-top:.75rem;
  padding-left:1rem;
}
