.chinese-menu{
  min-height:100vh;
  background-color:#d4d4d4;
}

.category-select{
  margin-top:.5rem;
  width:100%;
  border:1px solid gray;
  font-size: 1.2rem;
  position: fixed;
}

.spicy{
  font-weight: bold;
  color: #d81111;
}
