.info-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  background: #991900;
  color:#3C3142;
}

.empty-info{
  height: 4rem;
  width: 80%;
  margin: 0 auto;
  margin-top:-1rem;
  border-radius:5px 5px 0 0;
  z-index: 2;
  padding:1rem;
  text-align: center;
  background-color:#ffdb70;
}

.empty-info h1{
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}

.entrance-photo, .about-photo{
  width:100vw;
}

.entrance-photo img, .about-photo img{
  width:100%;
  height: 100%;
  border-radius:5px;
  position: relative;
  z-index: 2;
}

.reservation-info{
  width: 80%;
  margin: 0 auto;
  height: 100%;
  margin-top:-1rem;
  padding:2rem 1rem;
  text-align: center;
  background-color:#ffdb70;
}


.reservation-btn{
  background-color:#ff9400;
  border: none;
  padding:.5rem;
  border-radius:3px;
}

.about-info{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  background-color: #ffdb70;
  border-radius:5px;
  margin-top:-1rem;
  padding:1rem;
  z-index: 1;
}

.homepage-menu{
  margin-top: -.75rem;
  padding-top: 1rem;
  position: relative;
  z-index: 0;
  padding-bottom: 3rem;
}
.homepage-menu h2{
  background-color: #ffdb70;
  color: #991900;
  opacity:.9;
  width:40%;
  margin: 4rem auto;
  text-align: center;
  padding:.5rem;
  border-radius: 3px;
}

.specialties-info-wrapper{
  background-color: transparent;
  opacity:.9;
  text-align: center;
  color:black;
  width:80%;
  margin: 0 auto;
}

.rice-bowl{
  max-width: 100%;
  display: none;
}

.one, .two, .three, .four{
  background-color:#a8a8a8;
  border-radius: 5px;
  padding:1rem;
}

.three, .two, .four{
  margin-top:3rem;
}

.one-img, .two-img, .three-img, .four-img{
  display: none;
}

.menu-btn{
  background-color:#FFD700;
  border:none;
  padding:.5rem;
  border-radius:3px;
}

.reservation-btn a{
  text-decoration: none;
}





@media screen and (min-width:1200px){
  .empty-info{
    height: 4rem;
    width: 80%;
    margin: 0 auto;
    margin-top:10rem;
    border-radius:5px 5px 0 0;
    z-index: 2;
    padding:1rem;
    text-align: center;
    background-color:#ffdb70;
  }

  .entrance-photo, .about-photo{
    width:100%;
  }

  .info{
    background-color:#312438;
    padding-top:1rem;
  }

  .info-wrapper{
    grid-template-columns: repeat(6, 1fr);
    grid-gap: -5rem;
    width:80%;
    margin: 0rem auto;
    margin-top: 5rem;
    margin-bottom: 7rem;
    background-color: transparent;
    z-index:2;
  }

  .empty-info {
    display: none;
  }

  .reservation-info{
    width: 100%;
    margin: 0;
    padding:0;
    grid-column: 1/3;
    grid-row:1/2;
    text-align: center;
    background-color:#ffdb70;
    z-index: 1;
  }

  .reservation-info h2{
    margin-top:4rem;
  }

  .reservation-info p{
    padding: 2rem 0;
  }

  .reservation-info button{
    padding:1rem;
  }

  .entrance-photo{
    grid-column: 3/7;
  }

  .about-photo{
    grid-column: 1/3;
  }

  .entrance-photo img, .about-photo img{
    width:100%;
    height: 100%;
    border-radius:5px;
  }


  .entrance-photo img{
    object-fit: fill;

  }

  .about-info{
    text-align: center;
    margin:0;
    margin-top:-3px;
    padding:0;
    width: 100%;
    background-color: #ffdb70;
    grid-column: 3/7;
  }

  .info{
    position: relative;
  }

  .banner{
    background-color:#991a00;
    height:50vh;
    position: absolute;
    width:100%;
    top:13%;
    left:0;
    z-index: 1;
  }

  .specialties-info-wrapper{
    background-color: transparent;
    opacity:1;
    text-align: center;
    color:black;
    width:95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .specialties-info-wrapper > div{
    margin:0;
    padding:0;
  }

  .homepage-menu h2{
    background-color: #ffdb70;
    color: #991900;
    opacity:.9;
    width:20%;
    font-size: 2rem;
    margin: 4rem auto;
    text-align: center;
    padding:1rem;
    border-radius: 3px;
  }

  .one-img, .two-img, .three-img, .four-img{
    display: block;
    height: 100%;
  }

  .three{
    grid-column: 2/3;
  }

  .three-img{
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .four{
    grid-column: 4/5;
  }

  .four-img{
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .one-img img, .two-img img, .three-img img, .four-img img{
    width:100%;
    height:100%;
  }

  .about-info h1{
    margin-top:3rem;
  }

  .about-paragraph{
    line-height: 130%;
    padding-top:1rem;
  }


}
