.homescreen{
  background-color:#eee;
}

.header-spacer{
  height:3rem;
}

.location-info{
  text-align: center;
  background-color: #ffdb70;
  padding:1.2rem;
}

.location-info p{
  margin:0;
  padding-top:1rem;
}

.location-info p:nth-child(2){
  padding-bottom:1rem;
}

.show-img{
  height:100%;
  max-width:100%;
  margin: 0 auto;
  display: block;
  object-fit:cover;
}

.show-img2{
  height:100%;
  width:100%;
  margin: 0 auto;
  display: none;
  object-fit:cover;
}

.showcase{
  height:55vh;
  position:relative;
}

.catcher{
  display:none;
}

.layer{
  display:none;
}

.show-img-mobile{
  height:100%;
  max-width:100%;
  margin: 0 auto;
  display: block;
  object-fit:cover;
}

@media screen and (min-width:450px){
  .show-img-mobile{
    width:100%;
    min-height: 100%;
  }
}

@media screen and (min-width:875px){
  .header-spacer{
    height:3rem;
  }
  .location-info{
    text-align: center;
    background-color: #ffdb70;
    padding:2rem;
  }

}

@media screen and (min-width:1200px){
  .show-img-mobile{
    display: none;
  }
  .header-spacer{
    display: none;
  }
  .location-info{
    display:none;
  }
  /* .showcase{
    position: relative;
  } */
  /* .show-img{
    height:100%;
    max-width:100%;
    margin: 0 auto;
    display: block;
    object-fit:cover;
    position: absolute;
  }
*/
  .show-img2{
    display: block;
  }

  .showcase{
    overflow: hidden;
  }

  .catcher{
    position: absolute;
    background-color: rgba(124, 28, 16, 0.8);
    border-radius: 10px;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    color: #fbab00;
    left:25%;
    top:20%;
    z-index: 3;
    display:block;
  }

  .layer{
    position: absolute;
    width: 100vw;
    height:95vh;
    overflow: hidden;
    display:block;

  }


  .layer .content-wrap{
    position: absolute;
    width: 100vw;
    height:85vh;


  }


  .layer .content-body{
    width: 25%;
    position: absolute;
    top:50%;
    text-align: center;
    transform: translateY(-40%);
    color: white;
  }



  .layer img{
    position: absolute;
    width: 75%;
    top: 10%;
    left: 50%;
    transform:translate(-50%);
    border-radius: 10px;

  }



  .layer h1{
  font-size: 2rem;
}


  .bottom{
    background: #3C3142;
    z-index: 1;
  }


  .bottom .content-body{
    right: 5%;
    z-index: 2;
    background-color: rgba(124, 28, 16, 0.7);
    border-radius: 10px;
  }


  .bottom h1{
    color: #fdab00;
  }

  .top{
    background-color: #752000;
    z-index: 2;
    width: 50vw;
  }


  .top .content-body{
    left: 5%;
    z-index: 2;
    background-color: rgba(60, 49, 66, 0.7);
    border-radius: 10px;
    color: #f4f4f4;
  }


  .content-body h1{
    color:#fdab00;
  }

  .handle{
    position: absolute;
    height: 100%;
    display: block;
    background-color: #fdab00;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
  }


  .handle{
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
  }


  .top{
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
  }


  .top .content-wrap{
    transform: skew(30deg);
    margin-left: 1000px;
  }



  /* .info{
  position: relative;
  background-color: #F59966;
} */


  /* .info-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 65%;
    background-color: #F59966;
    color:#3C3142;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right:0;
    left:0;
    top: -3rem;
    z-index: 3;
  } */



  .showcase{
    height:95vh;
    position:relative;
  }
}
