@import url('https://fonts.googleapis.com/css?family=Lobster');



.App-link {
  color: #61dafb;
}

.home-link, .menu-btn{
  text-decoration: none;
}

.size{
  text-align: center;
}

#rev-diet small {
  margin-left: 2rem;
}
